extends layouts/basic_layout

include includes/mixins/mixins

block head
  //- Inject here JS and styles for this specific page

block content

    h1.text-center Titanic Passengers Data
    h2 Graphic charts :
    div.flex
        a(href="titanic/filter=sex").ui.fluid.large.black.button.filterBtn(data-filter="Sexe") Sexe
        a(href="titanic/filter=Age").ui.fluid.large.black.button.filterBtn(data-filter="Age") Age
        a(href="titanic/filter=classe").ui.fluid.large.black.button.filterBtn(data-filter="Classes") Classe 
    p.margin-top-2 Nombre de passagers : <b>#{numberOfPassengers}</b>
    div.grid-container
        each passenger in Passengers 
          +passengerCard(passenger)

