extends layouts/basic_layout

include includes/mixins/mixins

block head
  //- Inject here JS and styles for this specific page

block content
  .ui.middle.aligned.center.aligned.grid
    .sixteen.wide.ten.wide.tablet.seven.wide.computer.column
      div.margin-top-5
      h1.text-center.margin-top-5 Login
        if flashMessages
          each flashMessage in flashMessages
            +flashMessage(flashMessage.type, flashMessage.message)

      form.ui.large.form(method="post" action="/login")
        .ui.segment
          +field('email', 'email', 'your.email@address.tld')
          +field('password', 'password', 'Password')
          button(type="submit").ui.fluid.large.black.submit.button
            | Login