extends layouts/basic_layout

include includes/mixins/mixins

block head
  //- Inject here JS and styles for this specific page

block content
  .ui.middle.aligned.center.aligned.grid
    .sixteen.wide.ten.wide.tablet.seven.wide.computer.column
      h1.text-center Login

      form.ui.large.form(method="post" action="/login")
        .ui.segment
          +field('email', 'email', 'your.email@address.tld')
          +field('password', 'password', 'Password')
          button(type="submit").ui.fluid.large.teal.submit.button
            | Login