body {
    background-color: lightgrey;
}
.td-none {
    text-decoration: none;
}
.ls-none {
    list-style: none;
}
.container {
    width: 90%;
    margin: 0 auto;
    
}
.text-center {
    text-align: center;
}
.form-container {
    max-width: 80%;
    margin: 0 auto;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr);    
    gap: 50px; 
    max-width: 70%;
    margin: 0 auto;
    margin-top: 5rem;
  }
.passengerImg {
    max-width: 100%;
    display:block;
    margin-bottom: 1.5rem;
}
.passengerCard {
    background-color: white;
    border-radius: 10px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s; 
    margin: 10px; 
    padding-bottom: 1.5rem;
}
.flex {
    display: flex;
    justify-content: space-evenly;
}
.flexPagination {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.margin-top-2 {
    margin-top: 2rem;
}
.margin-top-5 {
    margin-top: 5rem;
}
.red {
    color:red;
}
.blue {color: blue;}
.canvas-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
}
.pie-container {
    width: 30%;
    margin: 0 auto;
    margin-top: 3rem;
}
.activeFilter {
    background-color: white;
}
.filterLink {
    margin: 0 5px;
    color:black;
}
.activeArrow {
    color:white;
}
.active-pagination {
    background-color: white;
    color: black;
}